* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #efefef;
    font-family: 'Open Sans', sans-serif;
}

.page {
    display: grid;
    row-gap: 25px;
    column-gap: 25px;
    width: 100%;
    padding: 25px;
    margin: 0 auto;
    grid-template-areas: 
        "order payment"
        "total total";
    grid-template-columns: 1fr 1fr;
}

.main-nav {
    background-color: #43281c;
    color: #F9E4BC;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
}

.logo {
    height: 25px;
    position: relative;
    top: 2.5px;
}

.box {
   background-color: #fee6e3;
   border-radius: 5px;
   box-shadow: 0 1px 3px #666;
   padding: 20px;
   margin-bottom: 25px;
   width: 100%;
}

.box-title {
    color: #43281c;
    font-weight: normal;
    font-size: 20px;
    text-shadow: 0.5px 0.5px 18px #ff009d
}

.order {
    grid-area: order;
}

.payment {
    grid-area: payment;
}

.total {
    grid-area: total;
}

.item{
    border-bottom: 2px solid;
    display: grid;
    padding: 10px 5px;
    grid-template-columns: 1fr 9fr 1fr;
    grid-template-areas: 
        "quantity title price"
        "quantity options price"
    ;

    row-gap: 8px;

}

.items {
    padding-left: 20px;
    list-style: none;
    margin: 0;
}

.item-title {
    grid-area: title;
    font-weight: bold;
}

.item-price {
    grid-area: price;
    font-weight: bold;
}

.item-option-list {
    grid-area: options;
    color: #af6e53;
    list-style:none;
    margin: 0;
    padding: 0;
    font-size: 15px;  
}

.item-option {
    margin: 5px;
}

.item-quantity {
    grid-area: quantity;
}

.item:last-child {
    border-bottom: none;
}
.input-group{
    position: relative;
    margin-bottom: 18px;
    background-color: #fee6e3;
}

.user-input{
    background-color:#fee6e3;
    border: 2px #af6e53 solid;
    padding: 4px;
    border-radius: 3px;
    width: 100%;
    text-indent: 10px;
    font-size: 16px;
}

.user-input-label {
    background-color:#fee6e3;
    color: #af6e53;
    font-weight: bold;
    font-size: 10px;
    position: absolute;
    left:25px;
    top: -7.7px;
    padding: 0 2px;
}

.short-input {
    max-width: 125px;
}

.total {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.total-tables td {
    padding: 10px;
}

.totals-table td:last-child {
    text-align: right;
}

.final-total {
    font-weight: bold;
}

.checkout {
    background-color:#fee6e3;
    color: #43281c;
    border: 2px #af6e53 solid;
    padding: 10px 30px;
    width: 50%;
    border-radius: 3px;
    font-size: 16px;
    text-shadow: 0.5px 0.5px 18px #ff009d
}